.layout {
    --sudoku-grid-size: minmax(20em, min(80vh, 40em));

    display: grid;
    grid-template-rows: auto var(--sudoku-grid-size) auto;
    grid-template-columns: auto var(--sudoku-grid-size) max(20vw, 19em) auto;
    gap: 1em;
    min-height: 100vh;
    overflow: auto;
    grid-template-areas:
". . . ."
". board-container control-panel-right ."
". . . .";
}
